@import "./fx.scss";

// Color
$primary-font: "Jost", "Noto Kufi Arabic", sans-serif;
$arabic-font: "Noto Kufi Arabic", sans-serif;
$primary-bg: #fff;
// Font size
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font21: 21px;
$font22: 22px;
$font23: 23px;
$font24: 24px;
$font25: 25px;
$font26: 26px;
$font27: 27px;
$font28: 28px;
$font29: 29px;
$font30: 30px;
$font31: 31px;
$font32: 32px;
$font33: 33px;
$font34: 34px;
//transition
$theme-transition1: all 0.3s ease;
$theme-transition2: all 0.5s ease;
$theme-transition3: all 1s ease;
//Breakpoint
$break-xl: 1199px;
$break-lg: 1023px;
$break-md: 767px;
$break-sm: 575px;
//Margin
$mrg0: 0;
$mrg2: 2px;
$mrg4: 4px;
$mrg5: 5px;
$mrg6: 6px;
$mrg7: 7px;
$mrg8: 8px;
$mrg10: 10px;
$mrg12: 12px;
$mrg15: 15px;
$mrg16: 16px;
$mrg20: 20px;
$mrg25: 25px;
$mrg30: 30px;
$mrg35: 35px;
$mrg40: 40px;
$mrg45: 45px;
$mrg50: 50px;
$mrg55: 55px;
$mrg60: 60px;
//padding
$pad0: 0;
$pad2: 2px;
$pad4: 4px;
$pad5: 5px;
$pad6: 6px;
$pad7: 7px;
$pad8: 8px;
$pad10: 10px;
$pad12: 12px;
$pad15: 15px;
$pad16: 16px;
$pad20: 20px;
$pad24: 24px;
$pad28: 28px;
$pad25: 25px;
$pad30: 30px;
$pad32: 32px;
$pad35: 35px;
$pad40: 40px;
$pad45: 45px;
$pad50: 50px;
$pad55: 55px;
$pad60: 60px;
/* Variables */
/* Color Variables */
$black: #000000 !default;
$white: #ffffff !default;
$Cool-Grey-600: #485661 !default;
$Cool-Grey-700: #36434e !default;
$Cool-Grey-900: #1d252d !default;
$primary-color: #eeeeee !default;
$secondary-color: #4b276b !default;
$tertiary-color: #ebeaed !default; // used in menu background
$heading-color: #510c76 !default;
$heading-light: #73558c !default;
$warning-color: #ff974c !default;
$error-color: #d50000 !default;
$default-color: #464646 !default;
$background-color: #f2f2f2 !default;
$card-border-light: #efefef !default;
$card-border-dark: #e2e2e2 !default;
$background-gray-light: #f8f8f8 !default;
$background-mute: #454343;
$color-mute-dark: #685d71;
$color-mute: #837b8b;
$transparent: transparent;
$light-textcolor: #363636;
$magento: #a82594;
$purple: #73558c;
$green-dark: #048558;
$green-light: #d1f1e6;
$sky-blue: #57c0c3;
$sky-blue-light: #39caad15;
$border-color-light: #e5e5e6;
$card-border-hover: #864ef2 !important;
$fav-text-color: #035739;
$default-marker-color: #4a4c4f;
$default-marker-color-updated: #4c4c4c;
$matchmaker-autofill-color: #f0ebf9;
$matchmaker-autofill-color-border: #6f10a2;
$error-failed: #ee5441;
$error-failed-bg: #fce6e6;
$alert-bg: #fff0d9;
$ghost-button-border: #c198d9;
$green-success: #10a26f;
$whatsapp-icon: #25d366;
$light-golden: #fbf2e4;
$golgen: #c37d13;
$color-green-light: #4caf50;
$high-dark-green: #2b8700;
$profile-revamp-green: #29831a;
$light-green: #ebf5e5;
$lightBlack: #191919;
$color-gray: #4a4c4f;
$color-grey-600: #4c4c4c;
$color-gray-light: #737373;
$color-dim-black: #222222;
$grey-secondary: #ececf0;
$grey-light-primary: #d9d9e0;
$requireTag-color: #ee5441;
$new-brand-blue: #2149c1;
$light-blue: #e9edf9;
$revamp-color-one: #f9f5fe;
$revanpbg-color: #f5f6f8;
$revamp-color-two: #f7f7f7;
// New Branding colors
$blue: #1d74ff;
$violet: #6f10a2;
$dull-white: #d2d2d2;
// New Branding colors
$blue: #1d74ff;
$violet: #6f10a2;
$lightBlack: #191919;
$greyColor: #737373;
$lightgrey: #4c4c4c;
$lightBlack2: #24282c;
$blue-varient2: #3972f6;
$featuredColor: #9747ff;
$lightYellow: #fef9f0;
$amber: #fbd192;
$sidebarbgrevamp: #e9e9e9;
$card-border-light2: #d2d2d2;
/* Font-size */
$h0-font-size: 3rem !default;
$h1-font-size: 2.5rem !default;
$h2-font-size: 2.2rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 24px !default;
$h6-font-size: 20px !default;
$h7-font-size: 18px !default;
$default-font-size: 16px !default;
$h8-font-size: 14px !default;
$h9-font-size: 13px !default;
$h10-font-size: 12px !default;
$h11-font-size: 11px !default;
$font-size-responsive: 1.6vw !default;
/* Font-weight */
$font-light: 300 !default;
$default-font-weight: 400 !default;
$font-semi-bold: 500 !default;
$font-semi-bolder: 600 !default;
$font-bold: 700 !default;
$font-bolder: 800 !default;
@mixin sidemenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-radius: 8px;
  background-color: $white;
  cursor: pointer;
  .signinTextNavDrawer {
    width: 170px;
    word-break: break-word;
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    html[dir="rtl"] & {
      @include for-size(phone-only) {
        width: 163px;
      }
    }
  }
}
@mixin profileBoxMenu {
  .menuProfileTabsIcon {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid $revamp-color-one;
    background: $revamp-color-one;
    padding: 0px;
  }
  .ProfileBox {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: $revamp-color-two;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      display: flex;
      color: #737373;
      font-size: 28px;
      width: 28px;
      height: 28px;
    }
    .pTag {
      position: absolute;
      top: -4px;
      right: -1px;
      width: 16px;
      height: 16px;
      img {
        width: 14px;
      }
    }
  }
  .menuTextIconWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .tabTitle {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $lightBlack;
    }
    .tabDesc {
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      color: #737373;
    }
    span {
      i {
        display: block;
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: #737373;
      }
    }
  }
}
