@import '../../styles/globalVariables';

.headerContainer {
    padding-top: 8px;
    z-index: 999;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 24px 0 hsla(240, 1%, 82%, .12);

    @include for-size(phone-only) {
        box-shadow: 0 1px 0 0 hsla(270, 6%, 81%, .75), 0 4px 10px 0 hsla(240, 1%, 82%, .35);
    }
}

.headerSubContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @include for-size(phone-only) {
        flex-direction: column;
        gap: 12px;
        align-items: unset;
    }
}

.headerLeftWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
        color: $lightgrey;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;


        @include for-size(tablet-phone-in-between) {
            span {
                span {
                    display: none;
                }
            }
        }
    }

}

.hamBurgerMenu {
    display: none !important;
    transition: width 2s ease-in-out;
    /* Hide on larger screens */

    button {
        background: $primary-bg;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: width 2s ease-in-out;;
    }

    @include for-size(phone-only) {
        display: unset !important;
        /* Show on smaller screens */
        /* Set cursor to pointer for interaction */
    }

}

.hamBurger {
    color: '#510c76';
    background: $primary-bg;
    border: 1px solid '#510c76';
    border-radius: 4px;
    cursor: pointer;
}

.logo {
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 6px 6px;
    color: $primary-bg;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    background-color: #6f10a2;
    cursor: pointer;

    &:hover {
        background: #8f15d0;
    }
}

.headerMidWrapper {
    display: flex;
    flex-direction: row;

    gap: 20px;

    padding-inline: 8px;
    color: $lightgrey;
    font-weight: 500;
    font-size: 16px;

    @include for-size(phone-only) {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // 2 columns
        grid-template-rows: repeat(3, auto); // 3 rows
        gap: 12px;
        margin: 8px 0px;
        font-size: 14px;
        display: none;
        border-bottom: 1px solid #e1e4e8;
        padding-bottom: 8px;
        justify-content: center;
        align-items: center;

        p {
            margin-block: 0 !important;
        }
    }

    @include for-size(phone-lg) {
        gap: 10px;
    }

    @include for-size(phone-sm) {
        gap: 12px;
    }
}

.navLink {
    text-decoration: none;
    color: inherit;
    text-align: center !important;

    a {
        text-align: center !important;
        cursor: pointer;

        &:nth-last-child(2) {
            display: none;
        }

        &:hover {
            color: $violet;
        }

        @include for-size(phone-only) {
            &:nth-last-child(2) {
                display: unset;
            }
        }

    }
}

.headerRightWrapper {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: $lightgrey;
    font-weight: 500;
    font-size: 16px;


    button {
        border-radius: 10px;
        padding: 8px 12px;
        font-size: 16px;
        cursor: pointer;

        @include for-size(phone-only) {
            font-size: 14px !important;
        }

        a {
            text-decoration: none;
            color: unset;

            &:hover {
                text-decoration: none;
                color: unset;
            }
        }

        span {
            display: flex;
            flex-direction: row;
            gap: 4px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    @include for-size(phone-only) {
        flex-direction: column;
        width: 100%;
        display: none;
        justify-content: center;
    }

}

.buttonLinkedIn {
    background-color: $violet;
    color: $primary-bg;
    border: none;
}

.buttonGitHub {
    background-color: $Cool-Grey-700;
    color: $primary-bg;
    border: none;
}

.buttonCV {
    color: $lightgrey;
    background: $primary-bg;
    font-weight: 500;
    border: 1px solid $lightgrey;
    margin-bottom: 8px;

}

.mobileMenuContainer {
    position: absolute;
    top: 80px;
    z-index: 100;
    right: 0px;
    padding: 0 12px;
    border-radius: 12px;
    background-color: $primary-bg;
    box-shadow: 0 4px 24px 0 hsla(240, 1%, 82%, .12);
    border: 1px solid #e1e4e8;
    width: 120px;
    opacity: 0.88;
}

.mobileMenuWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    overflow: hidden;

    div {
        display: grid !important;
    }

    @include for-size(phone-only) {
        flex-direction: column;
        gap: 4px;
        align-items: unset;
    }
}

.icon{
    width: 32px;
    height: 22px;

    @include for-size(phone-only){
        width: 20px;
        height: 18px;
    }
}