@import "../../styles/globalVariables";

.container {
  background: $revamp-color-one;
  padding: 12px;

  h2 {
    text-align: center;
    font-size: 36px;
    color: #1d252d;
    // line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;

    @include for-size(phone-only) {
      font-size: 24px;
    }
  }
}

.cardWrapper {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;

  // Prevent cards from shrinking
  > * {
    flex-shrink: 0;
  }

  // Hide scrollbar (Chrome, Safari)
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  @include for-size(phone-only) {
    padding-bottom: 6px;
    flex-direction: column;
  }
}

.cardContainer {
  min-width: 320px;
  max-width: 320px;
  background: $primary-bg;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  box-shadow: 0 14px 20px 0 rgba(25, 25, 25, 0.1);
  padding: 10px;

  h4 {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding-top: 8px;

    @include for-size(phone-only) {
      font-size: 16px;
    }
  }

  h5 {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding-bottom: 8px;
    color: $lightgrey;

    @include for-size(phone-only) {
      font-size: 14px;
    }
  }

  ul {
    margin: 0;
    padding-top: 8px;
  }

  @include for-size(phone-only) {
    min-width: unset;
    max-width: unset;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;

  img {
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;

    &:not(:nth-child(2)) {
      border: 1px solid #d2d2d2;
    }

    @include for-size(phone-only) {
      height: 60px;
      width: 60px;
    }
  }
}

.bullets {
  color: $greyColor;
  padding-bottom: 8px;

  @include for-size(phone-only) {
    font-size: 14px;
  }
}
